#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  padding-top: 10vh;
}

@media (max-width: 768px) {
  body {
    padding-top: 8vh; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 7vh; /* Adjust for mobile */
  }
}